/* .has-mega .header__navbar {
    background-color: rgb(2 40 81);;
} */
* {
    padding: 0;
    margin: 0;
}

.carousel-item img {
    min-height: 40vh;
    height: 80vh;
    width: 100vw;
    object-fit: cover;
    position: relative;
    z-index: -1;

}

.carousel-indicators li {
    position: relative;
    z-index: 20;
}


.navbar {
    padding: 0 !important;
}


@media only screen and (min-width:1200px) {
    /* .container {
        max-width: 100% !important;
    } */
}

/* .l-container--navigation{
    width: 100% !important;
} */

.card_made {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px auto !important; */
}

.card_made .school_img {
    width: 140px !important;
    margin-left: unset !important;
    margin-right: 10px;
}

.card_made .school_img img {
    height: 150px !important;
    margin: unset !important;
    border-radius: 50% !important;
}

.into-inner {
    margin: unset !important;
}

.card {
    padding: 1rem !important;
}


.services .card-body {

    background: unset !important;
    border-top: unset !important;
    padding: 30px;
    box-shadow: unset !important;
    transition: 0.3s;
    /* margin-top: -60px; */
    margin-left: unset !important;
    width: 100%;
}

.services .card-body p {
    font-size: 16px !important;
    color: rgb(255, 255, 255);
    line-height: unset !important;
    text-align: left;
}

.services h3,
.services h4,
.services h5 {
    color: #f4a62d !important;
}

.card-title a {

    text-decoration: none;
}

.card a:hover {

    color: #213b52 !important;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .card-text {
    font-size: 0.85rem !important;
}

.leditclientunder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    color: #f5a732;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
}

.leditclient {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 230px;
}

.ledit_ {
    width: 30%;
}

.main {
    margin: 20px auto !important;
}

.main p {
    font-size: 0.7rem !important;
    color: black;
    line-height: unset !important;
    text-align: left;
}

@media only screen and (max-width:700px) {
    .leditclient {
        flex-direction: column;
    }

    .ledit_ {
        width: 100%;
    }

    .clients {
        height: auto;
        min-height: 150px;
    }
}

.scroll {
    overflow-y: scroll;
    height: 300px;
    margin-top: 20px !important;
    padding: 1rem;
}

.card {
    min-height: 600px;
    margin: 0 30px;
}

.conti {
    display: flex;
    width: 100%;
}

.card2 {
    min-height: 500px;
    padding: 1rem;
}

.card2 h4 {
    width: 90vw;
    text-align: center;
    margin: auto;
}

.card3 {
    width: 30%;
}

.card4 {
    width: 80%;
    padding: 10px;
    margin: auto;
}

@media only screen and (max-width:1300px) {
    .conti {
        padding: 3rem;
        flex-direction: column;
    }

    .card {
        margin: 0;
    }

    .card2 {
        min-height: 300px !important;
    }

    .card3,
    .card4 {
        width: 90%;
        margin: auto;
    }

    .scroll {
        height: 200px;

    }
}


@media only screen and (max-width:950px) {
    .card-body {
        padding: 0 !important;
    }

    .contain {
        padding: 3rem;
    }

    .edit1 {
        flex-direction: column;
    }

    .edit2 {
        flex-direction: column-reverse;
    }

    .edit1 .imgedit {
        width: 50%;
        margin: auto;
    }

    .edit2 .imgedit {
        margin: auto;
        width: 50%;
    }

    .imgedit {
        width: 85% !important;
        margin: auto;
        ;
    }

    .edit {
        width: 90% !important;
        margin: auto;
    }

    .imgedit img {
        height: 300px !important;
    }
}

@media only screen and (max-width:750px) {
    .conti {
        padding: 0;
    }

    .contain {
        padding: 30px !important;
    }

    .school_img {
        display: none !important;
    }

    .into-inner {
        width: 90% !important;
        margin: auto;
    }

    .edit1 .imgedit {
        width: 80%;
        margin: auto;
    }

    .edit2 .imgedit {
        margin: auto;
        width: 80%;
    }

}

.contain {
    width: 100%;
    padding: 5rem;
}

.edit {
    font-size: 0.9rem;
    color: black
}

.imgedit {
    width: 35%;
}

.edit {
    width: 65%;
    margin: 0 40px;
}

.imgedit img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.services .card-body {
    margin-top: unset !important;
}

.footeredit {margin-top: 50px;}

/* .footeredit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-top: 0px;

} */

/* .footeredit1 {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 45px;
}
*/
.footeredit2 {
    width:100%; padding-left: 80px;
   
} 

.footeredit2 ul li a {
    color: white;
    font-size: 0.7rem !important;
    margin: unset !important;
    margin-top: 5px !important;
}

.editlist li {

    color: white;
    font-size: 0.8rem !important;
}

.contia {
    width: 100%;
    padding: 0 2rem 0;
    min-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 
#footer::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    min-height: 500px;
    border: 2px solid red;
  } */

body {
    overflow-x: hidden;
}

.footer-top {
    background-color: rgb(0, 0, 0, 0.7);
}



@media only screen and (max-width:950px) {
    .footeredit2 {
       padding-left: 50px;
    }
    .footeredit{padding: 20px 0;}

    .contia {
        padding: 0;
    }

    .footer-top {
        padding: 0 !important;
    }
    .services .card-body{width: 100% !important;}
}

@media only screen and (max-width:450px) {
   

    /* 
    .logo-footer img{
        margin-bottom: 0 !important;
        width: 165px !important;
    } */
  .intro-edit h3{font-size: 20px !important;}
   
}

@media only screen and (max-width:600px) {
    .contain {
        padding: 2px !important;
    }

    .edit {
        margin: auto !important;
    }
}

.carousel-caption span {
    font-size: 1.5rem !important;
    text-align: center;
    text-shadow: 2px 2px 20px black !important;

    font-weight: 500;
}

.carousel-caption {
    display: block;
    width: 80%;
    margin: auto;
    left: 1% !important;
    right: 1% !important;
    background-color: rgb(0, 0, 0, 0.5);
}

* {
    font-family: 'Helvetica', sans-serif;
}

.alignedit {
    text-align: left !important;
}


.section ul {
    margin: 0px auto;
}

.section ul li {
    list-style: decimal;
}

.containeditmain {
    background: url(https://research.iitmandi.ac.in/new/IIT-Mandi/sites/default/files/2022-04/campus6blured.jpg) rgba(0, 0, 0, 0.65) no-repeat center center/cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.first,
.second {
    color: #f7a82d;
}

.paralist li {
    color: white !important;
}

.first p {
    color: #ffffff !important;
}


#services {
    display: block;
    /* z-index: 10; */
}

#footer .footer-top {
    padding: 0 !important;
}

/* 
#services::before{
    content:"";

    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    z-index:-10;
    background-color: rgb(0,0,0,0.3);
}
 */

.alignedit-2 {
    text-align: right
}

.section {
    width: 100%;
    padding: 4rem 8rem;
    height: auto;
    /* border:2px solid red; */
    /* background: url("https://img.freepik.com/free-vector/gradient-white-monochrome-background_23-2148996240.jpg?w=1380&t=st=1676805143~exp=1676805743~hmac=c05c69e59846538394370065d238601b6f52ae56abbe4db26cb6678f99e259ad") no-repeat center center/cover;
    background-attachment: fixed; */
}

/* service section */

#services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* background: url("https://img.freepik.com/free-vector/gradient-white-monochrome-background_23-2148996240.jpg?w=1380&t=st=1676805143~exp=1676805743~hmac=c05c69e59846538394370065d238601b6f52ae56abbe4db26cb6678f99e259ad") no-repeat center center/cover;
    background-attachment: fixed; */
}

.conti .carded {
    display: flex;
}

.carded-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #f4a62d;

    width: 40%;
}

.carded-img {
    height: 200px;
}

.carded-img img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid black;
}

.intro-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conti {
    width: 100%;
    padding: 4rem 8rem;
}


@media only screen and (max-width:1200px) {

    .conti,
    .section {
        padding: 4rem 4rem;
    }
}

@media only screen and (max-width:1050px) {
    .conti .carded {
        flex-direction: column;
    }

    .carded-edit {
        border: none;
        margin: auto;
    }

    .card-body h4 {
        text-align: center;
    }
}

@media only screen and (max-width:1100px) {
    .carded-edit {
        width: 100%;
    }
    .conti{padding: 2rem 4rem !important;}
    .containeditmain .section {padding: 2rem 4rem !important;}
}

@media only screen and (max-width:600px) {

    .conti,
    .section {
        padding: 15px;
    }
}





/* news section */

.news-section .card1ed {
    background: #001730;
    color: white;
    min-height: 350px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    transform: translateY(0px) !important;
    transition: all 0.5s ease;
    /* box-shadow: 0 -12px 20px -15px grey; */
}


hr {
    border-top: 2px solid #fdc134 !important;
    width: 90%;
    opacity: 1 !important;
    margin: 0px auto 13px !important;
}

.card1ed .paraedit {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: unset;
    /* white-space: nowrap; */
    height: 180px;
    overflow: hidden !important;
    text-overflow: ellipsis;

}

.card1ed:hover {
    transform: translateY(-20px) !important;
    transition: all 0.5s ease;
    box-shadow: 0px 11px 20px 0px grey;

}

.news-section {
    width: 100%;
    /* margin: 100px; */
}

.swiper {
    width: 100vw;
}

/* .swiper h4 {
    text-align: center; */
/* } */

.news-section {
    margin: 0px -600px 45px!important;
}


.eventeditmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}


.cardedit {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;

}

.eventcard img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

p {
    margin-bottom: unset !important;
}

.section-title h2 {
    margin-top: 50px;
    color: white !important
}

.eventcard {
    width: 350px;
    height: 570px;
    transform: scale(0.9);
    transition: all 0.5s ease-in;
    background-color: white;
    display: flex;
    /*margin: 30px;*/
    flex-direction: column;
    align-items: start;
    z-index: 1;
    border-radius: 10px;
}

.hideit {display: none;}

.eventcard:hover {
    cursor: pointer;
    transition: 1s ease;
    transform: rotateY(180deg);
    justify-content: initial;
}

.eventcard:hover {
    /* background-color:black */
}

.clients {
    background-color: #022851;
}

.eventcard:hover img {
    display: none;
}

/* .eventcard:hover .cardedit {
    align-items: flex-end;
} */

.itemedit,
.card-title {
    transform: rotateY(0deg);
    transition: all 1s ease;
    font-size: 20px;
}

.hideit {
    display: none;
    width: 100%;
    padding: 12px;
    word-wrap: break-word;
}

.eventcard:hover .itemedit {
    display: none;
}

.dropdown-menu{
    font-size: 15px !important;
}

.btn-sm{
    width: 150px;
}

.eventcard:hover .hideit,
.eventcard:hover .card-title ,.eventcard:hover .btn-sm{
    display: block;
    transition: all 1s ease;
    transform: rotateY(2deg);
    font-size: 18px;
}
.eventcard:hover .card-title{
    font-size: 25px !important;
    display: none;
}


.navbar-nav {
    margin: 0px auto;
}

.navbar-brand {
    margin-left: 10px;

}


.log {
    color: white
}

.nav-item {
    margin-left: 10px;
}

.login {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    align-items: center;
}

.navbar {
    /*padding: 10px;
    width: 100%;
    min-height: 100px !important;
    background: linear-gradient(black, rgb(0, 0, 0, 0)) !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;*/
}

.navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
    font-size: 17px;
}

.navbar-nav .nav-link:hover {
    /* transform: scaleX(1.2); */
    text-decoration: underline;
}

* {
    scroll-behavior: smooth;
}

.navbar-brand img {
    height: 60px;
    object-fit: cover;
}



.bglight {
    background-color: #022851 !important;
    z-index: 10;
}

.navbar-toggler {
    background-color: white !important;
    margin-right: 10px;
}

body,
html {
    overflow-x: hidden;
}

@media only screen and (max-width:1150px) {
    .navbar-nav .nav-link {
        color: rgb(255, 255, 255) !important;
        font-size: 13px;
    }
}

@media only screen and (max-width:992px) {
    .navbar-nav .nav-link {
        color: rgb(255, 255, 255) !important;
        font-size: 17px !important;
    }
}

#footer {
    background: url(../img/footer-bg.jpg) rgba(0, 0, 0, 0.64) no-repeat center center/cover;
    background-attachment: fixed;
}



.section-bg {
    background: url(https://research.iitmandi.ac.in/new/IIT-Mandi/core/themes/bartik/images/auditoriamiitm.JPG) rgba(0, 0, 0, 0.64);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
}

.iconed {
    font-size: 35px;
}

.imgedited {
    position: relative;
    z-index: -1;
}


.views-field-field-eventdate {
    position: relative;
    top: -16%;
    background-color: #022851;
    padding: 10px 15px 3px;
    z-index: 9;
}



.card-body:hover {
    transform: translateX(30px);
    transition: all 1s ease;
}

.card-body {
    transform: translateX(0px);
    transition: all 1s ease;
}

.views-field-field-eventdate-1 {
    position: relative;
    top: -16%;
    background-color: #022851;
    padding: 0 15px 10px;
}

.views-field-field-eventdate>div {
    color: #f4a632;
    font-size: 14px;
    line-height: normal;
    font-family: 'Helvetica', sans-serif;
    min-width: 40px;
}

.views-field-field-eventdate-1 .field-content {
    color: #f4a632;
    font-size: 35px;
    line-height: normal;
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    min-width: 40px;
}

/* .btn-primary {
    color: #ff9800 !important;
    background-color: #022851 !important;
} */

.eventcard:hover {
    transform: scale(0.95);
    transition: all 0.5s ease-in;
}

.paralist{padding-left: 23px;}
.containeditmain .section{padding: 2rem 8rem;}
.conti{padding: 2rem 8rem;}
.section-bg{padding: 0px 0 20px;}