@charset "utf-8";
/* CSS Document */
@font-face {
    font-family:'open_sansregular';
    src: url('../fonts/OpenSans-Regular_0-webfont.eot');
    src: url('../fonts/OpenSans-Regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular_0-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular_0-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular_0-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular_0-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.glyphicon {
    border: 1px solid !important;
    padding: 5px;
    border-radius: 50%;
    font-size: 12px;
	margin-right: 10px;
}
.navbar-inverse .navbar-collapse{
   background-color:#0269B8;
   border-color: #D4A04C;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
	font-size:16px;
}
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #FFF;
    background-color:#D4A04C !important;
}
.right01{
	float:right;
}
.navbar-inverse {
    background-color:#0269B8;
    border-color: #C5B8B8;
}
.navbar-nav > li {
    float: left;
    border-bottom: 1px solid #EEE;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 9px 16px !important;
} 
.nav > li > a > img {
    max-width: none;
    margin: 0 12px 0 0;
}
.user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
	border: 1px solid #D4A04C;
    padding: 2px;
}
.box1{
	padding:15px;
	background:#EEE;
	text-align: center;
	margin-bottom: 26px;
}
.error {
    color: #ff0000;
}
.box1 img{
	width: 30%;
}
.box1 a{
	font-family:'open_sansregular';
	color:#000;
	font-size:16px;
	margin: 15px 0 0 0;
    background: #E7E7E7;
    padding: 7px;
	text-decoration:none;
	width:100%;
	display: block;
}
.box1 a:hover{
	color:#06a1d7;
}
.edit{
	background: #F3F3F3;
    padding: 15px;
	display:block;
	overflow:hidden;
	width:100%;
	margin-bottom: 15px;
}
.edit p{
	font-family:'open_sansregular';
	color:#474545;
	font-size:15px;
	padding:0;
	margin:0;
}
.left_side{
background:#0269B8;
color: rgb(255, 255, 255);
width: 100%;
padding: 9px 6px;
border-radius: 4px;
text-align: center;
}
.left_side img{
	margin-right: 2px;
}
.table > tbody > tr > td{
    padding: 6px 10px;
}
.actionn{
}
.actionn img {
    margin: 0 7px;
	opacity:1;
}
.actionn img:hover{
	opacity:0.8;
}
.six_box_area{
	width:100%;
	display:block;
	overflow:hidden;
	padding-top: 21px;
}
.nopad{
	padding-left:0;
}
.nopad_r{
	padding-right:0;
}
.sidebar-searchh{
	margin: 19px 19px 7px;
}
.new_logo{
display: block;
overflow: hidden;
width: 100%;
margin: 0 auto;
text-align: center;
/*height: 68px;*/
line-height:68px;
}
.new_logo img{
width: 155px;
height: 100%;
padding: 5px 19px !important;
}


.log_bg {
    /*background: #07a2d7 none repeat scroll 0% 0%;*/
	background:#ad0f0a url(../images/bg.png) no-repeat;
	background-size:cover;
    font-family: "Open Sans",sans-serif;
	padding-bottom: 57px;
}
.dess5 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 22px 0 6px 0;
}
.cncl {
    font-size: 15px;
    color: #0269B8;
    border-right: 1px solid #0269B8;
    padding: 0 11px;
}
.cncl:hover {
    background-color: hsla(0, 0%, 0%, 0);
    color: hsl(335, 39%, 58%);
}

.middle_area01{
	position:relative;
}
.middle_area01 h1{
	font-size:25px;
	color:#676767;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	padding-top: 9%;
    text-align: center;
    padding-bottom: 2%;
    margin: 0;
}
.middle_area01 form {
	width: 82%;
	margin: 0 auto;
	padding: 6% 0 9% 0;
}
.middle_area01 a{
    text-align: center;
    width:100%;
    display:block;
}
.middle_area01 a {
	color: #888;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    text-decoration: none;
}
.middle_area01 a:hover {
	color:#D4A04C;
}
.login_area{
    background:#fff;
	width: 37%;
	margin:0 auto;
	margin-top:3%;
 	position: relative;
 	box-shadow: 2px 2px 6px #D4A04C;
	border-radius:5px ;
}





.headd_part_mainn {
    display: block;
    text-align: center;
    width: 100%;
    overflow: hidden;
    /*background: rgb(0, 0, 0) none repeat scroll 0% 0%;*/
    height: 100px;
	margin-top:3%;
}
.headd_part_mainn img {
	border-radius: 4px;
}
.login_area input[type="text"]{
	text-align:left;
	position: relative;
	width:100%;
	padding:3%;
	background:#D3D3D3;
	margin-bottom: 6%;
	font-family: 'Open Sans', sans-serif;
	color: #3C3C3C;
	font-weight:600;
	font-size: 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	border:1px solid #DED6D6;
	-webkit-appearance:none;
}
.login_area input[type="text"]:hover{
 	border:1px solid #949494;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
 }
.login_area input[type="password"]{
	text-align:left;
	position: relative;
	width:100%;
	padding:3%;
	background:#D3D3D3;
	margin-bottom: 6%;
	font-family: 'Open Sans', sans-serif;
	color: #3C3C3C;
	font-weight:600;
	font-size: 15px;
	outline: none;
	border: none;
	border-radius: 5px;
	border:1px solid #DED6D6;
	-webkit-appearance:none;
}
.login_area input[type="password"]:hover{
 	border:1px solid #949494;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:	0.5s;
 }
.login_area input[type="submit"]{
	width: 100%;
	padding: 3%;
	margin-bottom: 12%;
	background:#0269B8;
	font-family: 'Open Sans', sans-serif;
	color: #ECECEC;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight:500;
	border-radius: 5px;
	transition: 0.5s;
	-webkit-appearance:none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}
.login_area input[type="submit"]:hover{
	background:#D4A04C;
	color:#FFF;
}
.page-header {
	width:100%;
	display:block;
	overflow:hidden;
}
.page-header h1{
    font-size: 30px;
	display: inline-block;
	margin:0;
}







.footer_01{
display: block;
overflow: hidden;
width: 100%;
background: #4a4a4a none repeat scroll 0% 0%;
text-align: center;
z-index: 2147483647;
position: absolute;
padding: 6px 0px 3px;
margin-top:15px;
}
.footer_01 p{
	color:#FFF;
	font-size:14px;
	padding:0;
	margin:0;
}
.img-responsive, .thumbnail a > img, .thumbnail > img {
    margin: 0 auto;
}
.table > thead > tr.active > th{
	background: #000;
    vertical-align: bottom;
    border-bottom: 2px solid #DDD;
    color: #FFF !important;
    font-size: 16px;
    font-weight: normal;
}


.table > tbody > tr.success > td{
    background-color:transparent;
}
.success{
    background-color: #DFF0D8;
}
.success:hover{
    background-color: #E8FEDF;
}





.table > tbody > tr.warning > td{
    background-color:transparent;
}
.warning{
    background-color: #FCF8E3;
}
.warning:hover{
    background-color: #FFF6C7;
}





.table > tbody > tr.danger > td{
    background-color:transparent;
}
.danger{
    background-color: #F2DEDE;
}
.danger:hover{
    background-color: #F3D3D3;
}




/*pagination*/
.pagi {
    display: block;
    overflow: hidden;
    width: 100%;
}
.pagination {
    display: inline-block;
    padding-left: 0px;
    margin: 10px 0px;
    border-radius: 4px;
}
.pagi a {
    background:#0269B8 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
	border-radius: 1px;
	float: left;
    margin-right: 1px;
}
.pagi strong {
     background:#0269B8 none repeat scroll 0% 0%;
    color: #FFF;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
	border-radius: 1px;
	float: left;
    margin-right: 1px;
}
.pagi a:hover{
    background:#D4A04C none repeat scroll 0% 0%;
}

/*search form start*/
.search_form_area{
	border: 1px solid #DDD;
    border-radius: 5px;
    /* float: left; */
    margin-bottom: 20px;
	display: block;
    overflow: hidden;
}
.form_area {
    float: left;
    padding: 22px 0 14px 0;
    width: 100%;
}

.form_area textarea{
width: 100%;
border-radius: 4px;
border: 1px solid #C9C8C8;
}

.form_area01{
    padding: 22px 0 14px 0;
    width: 70%;
	margin:0 auto;
}

.form_area01 textarea{
width: 100%;
border-radius: 4px;
border: 1px solid #C9C8C8;
}



.form-group {
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
    width: 100%;
}

.log {
    background:#0269B8;
    border-radius: 2px;
    display: inline-block;
    margin-left: 2px;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 12px;
    text-align: left;
    text-transform: uppercase;
    border: medium none;
	float: left;
    margin: 0 30px 17px 0;
}

.log:hover{
    background:#D4A04C;
}
.reg_lab{
text-align: left;
font-family: "Open Sans",sans-serif;
font-size: 15px;
font-weight: normal;
color: #000;
margin-top: 6px;
}
.form-control {
    height: 36px;
    font-size: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.box {
    margin: 0px;
    position: relative;
    color: #333;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 3px;
    width: 95%;
    resize: none;
    cursor: pointer;
}
.box.com {
    background: #FFF url("../images/icon14.png") no-repeat scroll 93% 53%;
    min-height: 44px;
    padding-top: 10px;
    border: 1px solid #0269B8  !important;
    width: 40%;
}
.box a {
    text-decoration: none;
    cursor: pointer;
    color: #272727;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    z-index: 2;
    margin-left: 4px;
}
.box a:hover{
    color: #1aa7d9;
}
.box input {
    top: 0px;
    right: 0px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 118px;
    height: 42px;
}

.add_button {
    float: right;
	margin: 4px 0;
}
.add_button a{
    background:#0269B8 none repeat scroll 0% 0%;
    border-radius: 2px;
    float: right;
    display: inline-block;
    color: #FFF;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 5px 12px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
	cursor:pointer;
}
.add_button1 a {
    background: #0269B8 none repeat scroll 0% 0%;
    /* border-radius: 2px; */
    /* float: right; */
    display: inline-block;
    color: #FFF;
    font-family: "Open Sans",sans-serif;
    /* font-size: 15px; */
    /* font-weight: 400; */
    padding: 1px 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
	cursor:pointer;
}
.add_button a:hover{
    background:#D4A04C;
}
.border_area{
	border: 1px solid #DDD;
    border-radius: 5px;
    margin-bottom: 10px;
	width:100%;
	display:block;
	overflow:hidden;
	padding: 15px;
}
.border_area p{
	font-family: "Open Sans",sans-serif;
    font-size: 15px;
}
.picture{
	margin: 0 0 15px 0;
	float: left;
    margin-right: 18px;
}
.picture img{
	border: 3px solid #ACAEAE;
    border-radius: 2px;
	opacity:1;
	cursor:pointer;
}
.picture img:hover{
	opacity:0.8;
}
.host{
	display:block;
	overflow:hidden;
	width:100%;
	background:#000;
	margin: 0 0 15px 0;
}
.host h2{
	color: #FFF;
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 5px 12px;
	margin:0;
}

.minn_hightt{
	 min-height:600px; 
}

.modal-body{
	padding:15px 0;
	}

@media screen and (max-width:1440px) {
	.login_area {
	width:35%;
	}
}

@media screen and (max-width:1366px) {
	.login_area {
	width: 35%;
	}
}

@media screen and (max-width:1280px) {
	.login_area{
		width:35%;
	}
}

@media screen and (max-width:1170px) {
.login_area {
    width: 39%;
}
}


@media screen and (max-width:1024px) {
.login_area {
		width:45%;
}
.form_area01 {
    width: 100%;
}
}

@media screen and (max-width:768px) {
	.login_area{
		width: 59%;
	}
}


@media screen and (max-width:767px) {
	
	
.small01 {
    position: absolute;
    z-index: 100;
    top: 6px;
    right: 57px;
}

.new_logo img {
    width: auto !important;
    height: 100%;
    padding: 5px 15px !important;
}
.new_logo {
    display: block;
    overflow: hidden;
    width: auto;
    margin: 0px auto;
    text-align: left;
    /*height: 68px;*/
}
.top-nav {
    padding: 9px 21px;
    float: right;
}
.page-header {
    margin: 92px 0 0 0;
}
.page-header h1 {
    font-size: 24px;
}
.nopad{
	padding:0;
}
.nopad_r{
	padding:0;
} 
.nopad_s{
	padding:0;
} 
.box1 {
    margin-bottom: 15px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 17px;
    margin-right: 32px;
    margin-bottom: 8px;
    background-color: #000 !important;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	z-index: 999999;
}
.navbar-toggle:hover{
    background-color: #333 !important;
}
.navbar-nav > li {
    float: none;
    border-bottom: 1px solid #EEE;
}
.navbar-inverse .navbar-collapse {
    width: 100%;
}
}



@media screen and (max-width:640px) {                                 
.login_area{
	width: 63%;
}
}




@media screen and (max-width:480px) { 
.new_logo {
  float: left;
  text-align: left;
  width: 33%;
}
.new_logo img {
  width: 100% !important;
}


                                 
.login_area{
	width: 74%;
}
.new_logo img {
    height: 74%;
    margin: 9px 0 0 0;
}
.small01 {
    position: relative;
    top: 0 px;
    left: 0;
}
.page-header {
    margin: 146px 0 0 0;
}
}

@media screen and (max-width:360px) {                                  
.login_area{
    width: 100%;
}
.login_area {
    box-shadow: 2px 2px 6px #2797CB;
}
}
	
	