

@charset "utf-8";
/* CSS Document */
@font-face {
font-family:'Open Sans';
src: url('../fonts/Open Sans.eot');
src: url('../fonts/Open Sans.eot?#iefix') format('embedded-opentype'),
url('../fonts/Open Sans.woff2') format('woff2'),
url('../fonts/Open Sans.woff') format('woff'),
url('../fonts/Open Sans.svg#Open Sans') format('svg');
font-weight: 400;
font-style: normal;
font-stretch: normal;
unicode-range: U+0020-2212;
}
@font-face {
font-family:'Open Sans';
src: url('../fonts/Open Sans Bold.eot');
src: url('../fonts/Open Sans Bold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Open Sans Bold.woff2') format('woff2'),
url('../fonts/Open Sans Bold.woff') format('woff'),
url('../fonts/Open Sans Bold.svg#Open Sans Bold') format('svg');
font-weight: 700;
font-style: normal;
font-stretch: normal;
unicode-range: U+0020-2074;
}
@font-face {
font-family:'Open Sans Semibold';
src: url('../fonts/Open Sans Semibold.eot');
src: url('../fonts/Open Sans Semibold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Open Sans Semibold.woff2') format('woff2'),
url('../fonts/Open Sans Semibold.woff') format('woff'),
url('../fonts/Open Sans Semibold.svg#Open Sans Semibold') format('svg');
font-weight: 600;
font-style: normal;
font-stretch: normal;
unicode-range: U+0020-2074;
}
@font-face {
font-family:'Open Sans Extrabold';
src: url('../fonts/Open Sans Extrabold.eot');
src: url('../fonts/Open Sans Extrabold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Open Sans Extrabold.woff2') format('woff2'),
url('../fonts/Open Sans Extrabold.woff') format('woff'),
url('../fonts/Open Sans Extrabold.svg#Open Sans Extrabold') format('svg');
font-weight: 800;
font-style: normal;
font-stretch: normal;
unicode-range: U+0020-2074;
}
@font-face {
font-family:'Raleway SemiBold';
src: url('../fonts/Raleway SemiBold.eot');
src: url('../fonts/Raleway SemiBold.eot?#iefix') format('embedded-opentype'),
url('../fonts/Raleway SemiBold.woff2') format('woff2'),
url('../fonts/Raleway SemiBold.woff') format('woff'),
url('../fonts/Raleway SemiBold.svg#Raleway SemiBold') format('svg');
font-weight: 600;
font-style: normal;
font-stretch: normal;
unicode-range: U+0020-00FE;
}
@font-face {
font-family:'Raleway';
src: url('../fonts/Raleway.eot');
src: url('../fonts/Raleway.eot?#iefix') format('embedded-opentype'),
url('../fonts/Raleway.woff2') format('woff2'),
url('../fonts/Raleway.woff') format('woff'),
url('../fonts/Raleway.svg#Raleway') format('svg');
font-weight: 400;
font-style: normal;
font-stretch: normal;
unicode-range: U+0020-00FE;
}
@font-face {
font-family: 'Perpetua';
src: url('../fonts/Perpetua-Italic.eot');
src: url('../fonts/Perpetua-Italic.eot?#iefix') format('embedded-opentype'),
url('../fonts/Perpetua-Italic.woff2') format('woff2'),
url('../fonts/Perpetua-Italic.woff') format('woff'),
url('../fonts/Perpetua-Italic.ttf') format('truetype'),
url('../fonts/Perpetua-Italic.svg#Perpetua-Italic') format('svg');
font-weight: normal;
font-style: italic;
}
body{
margin:0;
padding:0;
font-family:'Open Sans';
}
.clearfix {
clear: both;
}
img{
border:none;
outline:none;
}
a, a:hover{
text-decoration:none;
}
.outer{
background: url(../images/outer_bg.jpg)no-repeat fixed center center / cover;
}
.top_section{
margin-top:10px;
}
.contact_bg{
position:relative;
float:right;
}
.contact_caption {
position: absolute;
top: 59px;
left: 87px;
}
.contact_caption h1{
font-size:23px;
color:#000;
text-align:center;
font-weight:700;
}
.contact_caption p{
font-size:22px;
color:#000;
margin-top:10px;
line-height:24px;
}
.top-header{
padding:32px 0;
}
.social-icon a{
display:inline-block;
margin-right:15px;
}
.social-icon a i{
color:#011e22;
}
.social-icon a:last-child{
margin-right:0;
}
.fone::after{
content:"\f095";
}
.contact span{
display:inline-block;
margin-right:15px;
position:relative;
padding-left: 20px;
}
.contact span:last-child{
margin-right:0;
color:#000;
font-size:14px;
}
.fone::after{
font-family: FontAwesome;
content:"\f095";
position:absolute;
top:0;
left:0;
}
.envlp::after{
font-family: FontAwesome;
content:"\f0e0";
position:absolute;
top:0;
left:0;
}
.envlp:hover::after{
color:#f00;
}
.fone:hover::after{
color:#f00;
}
.social:hover i{
color:#f00;
}
.social:hover{
color:#f00;
}
.contact span a{
display:inline-block;
color:#011e22;
}
.contact span:hover a{
color:#f00;
}
.contact span a:hover::after{
color:#f00;
}
.banner-bg{
background:url(../images/banner-bg.jpg);
height:778px;
background-position:top left;
background-attachment:fixed;
background-size:cover;
position:relative;
}
.logo{
margin-top: 2px;
margin-bottom:2px;
}
.nav-bg{
background:#f1e9e9;
padding:0px 0;
position:relative;
}
.cust-nav-bar{
background:none;
border:none;
margin-bottom:0;
margin-top: 8px;
}
.cust-nav-bar .navbar-nav > li > a {
padding-bottom: 20px;
padding-top: 20px;
color: #040404;
text-align: left;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
background-color: transparent;
color: #ef4e8f;
}
.cust-nav-bar .navbar-nav > li > a:focus, .cust-nav-bar .navbar-nav > li > a:hover {
background-color: transparent;
color: #ef4e8f;
}
.cust-nav-bar .navbar-nav > li {
margin-bottom: 0;
}
.cool-link {
display: inline-block;
color: #fff;
text-decoration: none;
}
.cool-link::after {
content: '';
display: block;
width: 0;
margin-top:3px;
height: 3px;
background: #ef4e8f;
transition: width .3s;
}
.cool-link:hover::after {
width: 100%;
transition: width .3s;
}
.cust-nav-bar .navbar-nav > li.active a.cool-link::after{
display: block;
width: 100%;
margin-top:3px;
height: 3px;
background: #ef4e8f;
transition: width .3s;
}
.shrink{
position:fixed;
width:100%;
/*overflow:hidden;*/
/*min-height:50px;*/
transition:all 0.5s ease 0s;
-webkit-transition:all 0.5s ease 0s;
background:#fff;
top:0;
left:0;
z-index:9999;
padding: 0px 0;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
.shrink .logo {
margin-top: 5px;
}
.shrink .logo img{
width:26%;
transition:all 0.5s ease 0s;
-webkit-transition:all 0.5s ease 0s;
margin-top: -8px;
}
.shrink .cust-nav-bar {
border: none;
margin-bottom: 0;
min-height: 100%;
position: relative;
list-style: outside none none;
margin-bottom: 0;
padding-left: 0;
border-radius: 0;
background-color: transparent;
margin-top:0;
transition:all 0.5s ease 0s;
-webkit-transition:all 0.5s ease 0s;
}
.banner-caption {
position: absolute;
top: 91px;
width: 86%;
left: 1%;
}
.banner-caption h1{
font-size:40px;
color:#fff;
margin-bottom:40px;
text-align:left;
font-weight:700;
}
.banner-caption p{
font-size:16px;
color:#fff;
margin-bottom:20px;
line-height:27px;
text-align:left;
width:50%;
}
.banner-caption a{
display:inline-block;
background:transparent;
color:#fff;
font-family:'Open Sans Semibold';
font-size:14px;
text-align:center;
padding: 15px 25px;
border-radius:20px;
background: #7e007b;
box-shadow: 3px 3px 0px #7c4e99;
text-transform:uppercase;
}
.banner-caption i {
padding-left: 20px;
font-size: 20px;
}
.banner-caption a:hover    {border: 1px solid #ef4e8f;
color: #fff;
background: #ef4e8f;
box-shadow: none;
}
.button_distance{
margin-left:30px;
}
.log_in{
position:relative;
}
.log_in_button{
position:absolute;
top:20px;
text-align:center;
}
.button_position{
margin:0 auto;
background: #7e007b;
border: medium none;
color: #fff;
font-size: 16px;
padding: 14px 40px;
display: inline-block;
text-decoration: none;
border-radius: 30px;
margin-top: 15px;
box-shadow: 3px 3px 0px #7c4e99;
text-transform:uppercase;
}
.button_teacher{
margin:0 auto;
background: #ecb200;
box-shadow: 3px 3px 0px #9d490d;
margin-top: 15px;
}
.button_student{
margin:0 auto;
background: #ff5722;
box-shadow: 3px 3px 0px #882c0d;
margin-top: 15px;
}
.futuristic {
background:#fff;
}
.futuristic h1{
font-size:35px;
color:#333333;
margin-bottom:20px;
font-weight:700;
text-align:center;
padding-top:50px;
}
.read_height p {
font-size: 16px;
line-height: 25px;
color: #555555;
padding-top: 10px;
text-align:left;
padding-left:20px;
padding-right:20px;
padding-top:45px;
padding-bottom:62px;
}
.read_toggle{
color:#f20505;
}
span.futuristic_border img{
margin:0 auto;
}
.section_bg{
background:#fff;
}
.index_section{
border:5px solid #000;
background:#fff;
text-align:center;
}
.index_section h1{
font-size:18px;
color:#000000;
margin-bottom:20px;
font-weight:700;
text-align:center;
padding-top:10px;
}
.index_section a {
margin: 0 auto;
background: #7e007b;
border: medium none;
color: #fff;
font-size: 16px;
padding: 11px 25px;
display: inline-block;
text-decoration: none;
border-radius: 30px;
margin-top: 15px;
box-shadow: 3px 3px 0px #7c4e99;
text-transform: uppercase;
margin-bottom:25px;
}
.index_icon img{
margin:0 auto;
margin-top:23px;
margin-bottom:23px;
}
.index_section {
margin-left: 19px;
width: 23%;
margin-bottom: 27px;
}
.why_chose{
background: url(../images/whychose_bg.png)no-repeat fixed center center / cover;
}
.why_chose_caption{
margin-top:50px;
}
.image-center{
margin:0 auto;
}
.school span{
color: #000;
font-size: 22px;
font-weight:700;
}
.fa-school{
background:url(../images/school_icon.png);
height: 20px;
width: 16px;
margin-right:20px;
}
.fa-learning{
background:url(../images/learnig.png);
height: 20px;
width: 16px;
margin-right:20px;
}
.school p{
font-size:14px;
color:#000;
margin-bottom:20px;
line-height:27px;
padding-top: 27px;
}
.school  a {
background: #7e007b;
border: medium none;
color: #fff;
font-size: 16px;
padding: 14px 30px;
display: inline-block;
text-decoration: none;
border-radius: 30px;
margin-top: 15px;
box-shadow: 3px 3px 0px #7c4e99;
margin-bottom:50px;
}
.school  a:hover {
color: #fff;
background: #ef4e8f;
box-shadow: none;
}
.partner{
background:#fff;
}
.We-Offer-part ul {
padding: 0;
margin: 0;
margin-left: 69px;
}
.We-Offer-part li {
text-decoration: none;
list-style: none;
}
ul.image_gallerys{
margin-top:50px;
}
li .area-box {
position: relative;
padding: 0;
margin: 0;
margin-right: 0px;
margin-bottom: 0px;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
overflow: hidden;
cursor: pointer;
text-decoration: none;
margin-bottom: 8px;
margin-right: 8px;
}
li .area-box {
float: left;
text-decoration: none;
display: block;
margin-right: 16px;
margin-bottom: 8px;
margin-left:16px;
}
li .area-box .mask-position {
position: absolute;
left: 12px;
top: 10px;
width: 90%;
height: 90%;
background: rgba(110, 0, 106, 0.70);
z-index: 3;
text-align: center;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
opacity: 0;
display: flex;
align-items: top;
padding-top: 27px;
}
li .area-box .mask-position i {
font-size: 24px;
color: #000;
background: #fff;
height: 50px;
width: 50px;
border-radius: 100%;
padding-top: 14px;
}
li .area-box .mask-position h2 {
font-family: 'Work Sans', sans-serif;
font-size: 26px;
line-height: 28px;
color: #ffffff;
padding: 0;
padding-top: 0px;
padding-bottom: 0px;
margin: 0;
padding-top: 18px;
padding-bottom: 9px;
}
li .area-box .mask-position p {
font-family: 'Work Sans', sans-serif;
font-size: 14px;
font-weight: normal;
color: #ffffff;
list-style: none;
line-height: 24px;
}
.area-box:hover .mask-position {
opacity: 7;
}
.We-Offer-part h1 {
font-size: 32px;
color: #111;
text-transform: uppercase;
text-align: center;
font-weight: 700;
padding-bottom: 60px;
}
.gallery_btn{
text-align:center;
}
.gallery_btns{
margin: 0 auto;
background: #7e007b;
border: medium none;
color: #fff;
font-size: 16px;
padding: 14px 40px;
display: inline-block;
text-decoration: none;
border-radius: 30px;
margin-top: 15px;
box-shadow: 3px 3px 0px #7c4e99;
text-transform: uppercase;
margin-bottom: 50px;
}
.gallery_btns:hover {
color: #fff;
background: #ef4e8f;
box-shadow: none;
}
.latest_section{
margin-top:50px;
}
.latest_news{
background:url(../images/latest_bg.jpg)0 0 no-repeat;
background-size:cover;
}
.latest_news_btn{
margin-top: 30px;
}
.latest_news_caption h1 {
font-size: 35px;
color: #333333;
margin-bottom: 20px;
font-weight: 700;
text-align: center;
padding-top: 50px;
}
.latest_news-part h1 {
font-size:20px;
color: #00;
text-align: left;
font-weight: 700;
padding-bottom: 0px;
padding-top: 27px;
}
.left_log h1{
font-size: 20px;
color: #000;
font-weight: 700;
padding-bottom: 33px;
text-align:left;
padding-top:0px;
}
.left_log p{
font-size: 16px;
color: #555555;
padding-bottom: 14px;
text-align:left;
line-height:27px;
}
p.date {
font-size: 16px;
color: #555555;
padding-bottom: 11px;
text-align:left;
}
.left_log a{
font-size: 16px;
color: #555555;
text-align:left;
line-height:27px;
}
.image_buttom{
margin-bottom:60px;
}
.event-content ul {
margin-bottom: 20px;
margin-top: 13px;
}
.event-content ul li {
list-style: none;
color: #707070;
line-height: 1.75;
}
.event-content ul li span {
color: #e84b3a;
margin-right: 5px;
}
.index_section a:hover {
color: #fff;
background: #ef4e8f;
box-shadow: none;
}
.footer-part h1{
font-size: 20px;
color: #f9f4f4;
font-weight: 700;
padding-top:60px;
padding-bottom:35px;
border-bottom:1px solid #484c4f;
display:block;
margin-bottom:35px;
text-align: left;
margin-top: 28px;
}
.footer-part p{
font-size: 16px;
color: #999898;
padding-bottom: 14px;
text-align:left;
line-height:27px;
margin-top:10px;
}
.social-icon-fast {
text-align: center;
color: #0000FF;
float: left;
margin-bottom: 0px;
}
.social-icon-fast ul {
padding: 0;
margin: 15px 0 0 0;
list-style: none;
display: inline-block;
}
.social-icon-fast ul li {
float: left;
list-style: none;
display: inline-block;
}
.social-icon-fast ul li:nth-child(2) {
margin-left:10px;
}
.social-icon-fast ul li:nth-child(3) {
margin-left:10px;
}
.social-icon-fast ul li a {
width: 40px;
height: 40px;
text-align: center;
padding: 5px 0;
font-size: 20px;
line-height: 1.428571429;
border-radius: 23px;
color: #fff;
border-color: #fff;
box-shadow: none;
border: 1px solid #fff;
display: inline-block;
}
.fa-facebook:hover{
color:#3B5998;
}
.fa-twitter:hover{
color:#55ACEE;
}
.fa-google-plus:hover{
color:#dd4b39
}
.footul {
margin: 0;
padding: 0;
margin-top: 25px;
}
.footul li {
width: 27%;
float: left;
list-style: none;
line-height: 30px;
margin-bottom: 14px;
}
.lower_footer{
background:#000000;
color:#fff;
line-height:27px;
font-size:16px;
padding-top:25px;
padding-bottom:25px;
}
.lower_footer h1{
font-size: 16px;
color: #fff;
}
.footer-part p.address {
font-size: 16px;
color: #999898;
padding-bottom: 9px;
text-align: left;
line-height: 24px;
margin-top: 2px;
}
.footer-part p.address span {
font-size: 18px;
color: #fff;
font-weight:700;
margin-right:10px;
}
.address_section{
margin-top:17px;
}
.footer-part{
background:#272827;
}
.footer-part p.address-first span {font-size: 18px;
color: #fff;
font-weight:700;
margin-right:10px;
}
.footer-part p.address-second span {margin-right:29px;}
.footer-part p.address-first {
font-size: 16px;
color: #ecb200;
padding-bottom: 9px;
text-align: left;
line-height: 24px;
margin-top: 2px;
font-weight:700;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
float: left;
color: #000;
}
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
float:left;
color:#000;
}
.dropdown-content a:hover {color:#ef4e8f;}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown:hover .dropbtn {
background-color: #fff;
}
.forgot-password {
color: rgb(104, 145, 162);
}
.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
color: rgb(12, 97, 33);
}
.forgot-passwordes{
margin-top:12px;
}
.page-header {
background-image: url(../images/page-header-bg.jpg);
background-size: cover;
background-position: center;
margin: 0px;
padding: 0px;
border: none;
}
.page-header .overlay {
padding: 54px 0px;
background-color: rgba(239,78,143,.8);
text-align: center;
}
.event_bg{
background:#fff;
}
.footer_heightdetails{
margin-bottom:50px;
}
.contect_top{
margin-top:50px;
}
#particles-js{
margin-bottom:50px;
}
.event_left{
border:2px solid #f0f0f0;
padding:20px;
margin-left:10px;
margin-top:30px;
margin-bottom:30px;
}
.event_caption h1 {
font-size: 31px;
color: #e84b3a;
margin-bottom: 16px;
text-align: left;
line-height: 24px;
margin-top: 14px;
font-weight: 700;
padding-bottom: 14px;
}
.event_caption p {
font-size: 16px;
color: #707070;
line-height: 27px;
margin: 0 0 1.75em;
}
.event_caption h2{
color: #92278f;
font-size: 24px;
padding-bottom:15px;
font-weight:700;
}
.page-header h3 {
font-size: 36px;
color: #fff;
padding-bottom: 21px;
}
.page-header ul li {
list-style: none;
display: inline-block;
color: #fff;
font-size: 20px;
font-style: italic;
}
.page-header ul {
margin: 0px;
}
.page-header ul li a {
font-style: italic;
color: #fff;
text-decoration: none;
}
#imaginary_container{
margin-top:11%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
background: white !important;
}
.stylish-input-group .form-control{
border-right:0;
box-shadow:0 0 0;
border-color:#ccc;
}
.stylish-input-group button{
border:0;
background:transparent;
}
.event_left{
margin-right:20px;
}
.sidebar-item {
margin-bottom: 50px;
margin-top:50px;
}
.sidebar-title {
font-size: 30px;
color: #ffc000;
margin-bottom: 30px;
}
.sidebar-categories {
margin: 0px;
list-style: disc;
}
.sidebar-categories li {
list-style: none;
border-bottom: 1px solid #f0f0f0;
}
.sidebar-categories li:first-child a {
padding-top: 0px;
}
.sidebar-categories li a {
display: block;
font-weight: 700;
font-size: 16px;
color: #707070;
text-decoration: none;
padding: 10px 0px;
padding-top: 10px;
}
.sidebar-categories li a:hover span {
height: 30px;
width: 30px;
text-align: center;
background-color: #92278f;
color: #fff;
border-radius: 100%;
display: inline-block;
line-height: 30px;
}
.sidebar-categories li span {
float: right;
}
.sidebar-categories li a:hover {
color: #92278f;
padding-left:5px;
}
.sidebar-item:nth-child(3) .sidebar-title {
color: #e84b3a;
}
.sidebar-posts {
margin: 0px;
}
.sidebar-posts li {
list-style: none;
overflow: hidden;
margin-bottom: 20px;
padding-bottom: 20px;
border-bottom: 1px solid #f0f0f0;
}
.sidebar-posts .image {
float: left;
margin-right: 20px;
}
.sidebar-posts a {
display: block;
text-decoration: none;
font-size: 16px;
line-height: 24px;
color: #707070;
}
.sidebar-posts .content {
display: table;
}
.sidebar-posts a {
display: block;
text-decoration: none;
font-size: 16px;
line-height: 24px;
color: #707070;
}
.sidebar-posts span {
font-style: italic;
font-size: 15px;
color: #fa6f57;
}
.sidebar-items {
margin-bottom: 50px;
}
.sidebar-gallery {
margin: 0px;
overflow: hidden;
margin: -5px;
}
.sidebar-gallery li {
list-style: none;
float: left;
width: calc(100% / 4 - 1px);
padding: 5px;
}
.sidebar .sidebar-gallery li img {
width: 100%;
}
.overlayes{
padding: 54px 0px;
background-color: rgba(36,56,110,.7);
text-align: center;
}
.faq_bg{
background:#fff;
text-align:left;
}
.panel_caption{
text-align:left;
margin-top:40px;
margin-bottom:60px;
padding:20px;
}
.faqHeader {
font-size: 27px;
margin: 20px;
}
.panel-heading [data-toggle="collapse"]:after {
font-family: 'FontAwesome';
content: "\f078"; /* "play" icon */
float: right;
color: #F58723;
font-size: 18px;
line-height: 22px;
/* rotate "play" icon from > (right arrow) to down arrow */
/*    -webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
-o-transform: rotate(-90deg);
transform: rotate(-90deg); */
}
.panel-heading [data-toggle="collapse"].collapsed:after {
/* rotate "play" icon from > (right arrow) to ^ (up arrow) */
/*    -webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg); */
color: #454444;
}
.panel_bodycaption{
line-height:27px;
}
.page-headers{
background:#fff;
}
.button_position:hover{
color: #fff;
background: #ef4e8f;
box-shadow: none;
}
.about_contain{
background:#fff;
}
.widget-title {
text-align:left;
margin-top:50px;
margin-bottom:45px;
}
.widget-title h1 {
margin-bottom: 10px;
font-weight: 600;
margin: 0px;
margin-top: 0px;
margin-bottom: 0px;
background: none;
line-height: 1.6em;
font-family: 'Open Sans', sans-serif;
color: inherit;
text-transform: initial;
font-size: 28px;
padding-bottom: 17px;
}
.widget-title p{
font-size: inherit;
color: inherit;
font-family: "PT Sans", Helvetica, Arial, sans-serif;
font-size: 15px;
line-height: 1.6;
color: #434345;;

}
.team {
padding: 22px 0;
}
h6.description{
font-weight: bold;
letter-spacing: 2px;
color: #000;
border-bottom: 1px solid rgba(0, 0, 0,0.1);
padding-bottom: 5px;
font-size:26px;
padding-top:30px;
padding-bottom: 23px;
text-align:center;
}
.profile {
margin-top: 50px;
text-align:left;
margin-bottom:44px;
}
.profile h1 {
font-weight: normal;
font-size: 21px;
margin: 19px 0 0 0;
font-weight: 700;
}
.profile h2 {
font-size: 16px;
font-weight: lighter;
padding-top: 13px;
padding-bottom: 5px;
color: #555555;
}
.profile p{
font-size: 14px;
font-weight: lighter;
padding-top:8px;
padding-bottom:8px;
color:#555555;
line-height:22px;
}
.profile .img-box{
opacity: 1;
display: block;
position: relative;
}
.profile .img-box:after{
content:"";
opacity: 0;
background-color: rgba(0, 0, 0, 0.75);
position: absolute;
right: 0;
left: 0;
top: 0;
bottom: 0;
}
.img-box ul{
position: absolute;
z-index: 2;
bottom: 50px;
text-align: center;
width: 100%;
padding-left: 0px;
height: 0px;
margin:0px;
opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
-webkit-transition: all 0.5s ease-in-out 0s;
-moz-transition: all 0.5s ease-in-out 0s;
transition: all 0.5s ease-in-out 0s;
}
.img-box ul i{
font-size: 20px;
letter-spacing: 10px;
}
.img-box ul li{
width: 30px;
height: 30px;
text-align: center;
border: 1px solid #88C425;
margin: 2px;
padding: 5px;
display: inline-block;
}
.img-box a{
color:#fff;
}
.img-box:hover:after{
opacity: 1;
}
.img-box:hover ul{
opacity: 1;
}
.img-box ul a{
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li{
border-color: #fff;
color: #88C425;
}
i.red{
color:#BC0213;
}
.programs-title {
text-align:center;
margin-top:50px;
margin-bottom: 13px;
}
.programs-title h1 {
margin-bottom: 10px;
font-weight: 600;
margin: 0px;
margin-top: 0px;
margin-bottom: 0px;
background: none;
line-height: 1.6em;
font-family: 'Open Sans', sans-serif;
color: inherit;
text-transform: initial;
font-size: 28px;
padding-bottom: 17px;
}
.programs-title p{
font-family: "PT Sans", Helvetica, Arial, sans-serif;
font-size: 15px;
line-height: 1.6;
color: #434345;
width:70%;
margin:0 auto;
}
.program_para{
margin-top:20px;
}
.programs{
margin-top: 25px;
text-align:left;
margin-bottom:44px;
}
.programs h1 {
font-weight: normal;
font-size: 22px;
margin: 0px 0 0 0;
text-align: center;
color: #e84b3a;
padding-top: 25px;
font-weight:700;
}
.programs h2{
font-size: 16px;
font-weight: lighter;
padding-top:8px;
padding-bottom:8px;
color:#555555;
}
.programs p{
font-size: 14px;
font-weight: lighter;
padding-top:8px;
padding-bottom:8px;
color:#555555;
line-height:22px;
}
.programs .img-boxs{
opacity: 1;
display: block;
position: relative;
}
.programs .img-boxs:after{
content:"";
opacity: 0;
background-color: rgba(0, 0, 0, 0.75);
position: absolute;
right: 0;
left: 0;
top: 0;
bottom: 0;
}
.img-boxs ul{
position: absolute;
z-index: 2;
bottom: 134px;
text-align: center;
width: 100%;
padding-left: 0px;
height: 0px;
margin:0px;
opacity: 0;
}
.programs .img-boxs:after, .img-boxs ul, .img-boxs ul li{
-webkit-transition: all 0.5s ease-in-out 0s;
-moz-transition: all 0.5s ease-in-out 0s;
transition: all 0.5s ease-in-out 0s;
}
.img-boxs ul i{
font-size: 20px;
letter-spacing: 10px;
}
.img-boxs ul li{
width: 30px;
height: 30px;
text-align: center;
border: 1px solid #88C425;
margin: 2px;
padding: 5px;
display: inline-block;
}
.img-boxs a{
color:#fff;
}
.img-boxs:hover:after{
opacity: 1;
}
.img-boxs:hover ul{
opacity: 1;
}
.img-boxs ul a{
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
.img-boxs a:hover li{
border-color: #fff;
color: #88C425;
}
i.red{
color:#BC0213;
}
.btn-safety-orange {
color: #fff;
background-color: #ef4e8f;
border-color: #ef4e8f;
}
.img-boxs img{
border-radius:7px;
}
.section-md-124 {
padding-top: 60px;
padding-bottom: 60px;
}
.bg-lightest {
background: #f7f7f7;
}
.page .text-bold, .page strong {
font-weight: 700;
}
.page blockquote.quote .text-primary, .page .text-primary {
color: #545479;
font-weight: 700;
}
.range-xs-center {
-ms-flex-pack: center;
justify-content: center;
}
.range {
display: -ms-flexbox;
display: flex;
-ms-flex: 0 1 auto;
flex: 0 1 auto;
-ms-flex-direction: row;
flex-direction: row;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.page .offset-top-66 {
margin-top: 66px;
}
.icon-orange-filled {
background: #ef4e8f;
}
.icon-darker-filled, .icon-darkest-filled, .icon-orange-filled, .icon-shark-filled, .icon-mantis-filled, .icon-pink-filled, .icon-malibu-filled, .icon-carrot-filled, .icon-red-filled, .icon-blue-gray-filled {
color: #fff;
border: none;
}
.icon-outlined, .icon-outlined::after {
border-radius: 50%;
}
.icon-outlined {
position: relative;
}
.icon-circle {
border-radius: 50%;
}
.icon-rect, .icon-circle, .icon-rounded, .icon-outlined {
width: 70px;
height: 70px;
font-size: 32px;
line-height: 70px;
text-align: center;
border: 2px solid;
}
.icon {
position: relative;
display: inline-block;
font-weight: 400;
font-size: 54px;
line-height: 56px;
font-style: normal;
}
.mdi {
display: inline-block;
font-weight: 400;
font-style: normal;
font-family: "Material Design Icons";
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-transform: translate(0, 0);
transform: translate(0, 0);
}
.bg-lightest {
fill: #f7f7f7;
}
.icon::before {
display: inline-block;
position: relative;
}
::before, ::after {
box-sizing: border-box;
}
.icon-outlined::after {
position: absolute;
top: -7px;
right: -7px;
bottom: -7px;
left: -7px;
content: '';
border: 2px solid #d3dbe8;
}
.icon-outlined, .icon-outlined::after {
border-radius: 50%;
}
.page .offset-top-30 {
margin-top: 30px;
}
.page .text-bold, .page strong {
font-weight: 700;
}
.text-uppercase, .initialism {
text-transform: uppercase;
margin-top: 28px;
margin-bottom: 16px;
font-size: 20px!important;
line-height: 1.5;
line-height: 1.25;
font-size: 24px;
font-family: "PT Sans", Helvetica, Arial, sans-serif;
}
.offset-top-30 p {
margin: 0 0 12px;
margin-top: 0px;
margin-bottom: 12px;
margin-top: 18px;
margin-bottom: 18px;
font-family: "PT Sans", Helvetica, Arial, sans-serif;
font-size: 15px;
line-height: 1.6;
color: #434345;
}
.icon::before {
display: inline-block;
position: relative;
}
.icon i {
text-align: center;
margin: 0 auto;
padding-top: 22px;
font-size: 25px;
}
.shell h1{
font-size:34px;
padding-bottom:25px;
color:#000;
font-weight:700;
text-align:center;
}
.adding_para p {
margin: 0 0 12px;
margin-top: 0px;
margin-bottom: 12px;
margin-top: 18px;
margin-bottom: 18px;
font-family: "PT Sans", Helvetica, Arial, sans-serif;
font-size: 15px;
line-height: 1.6;
color: #434345;
margin:0 auto;
padding-bottom:60px;
width:70%;
}
#facts .counters span {
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	font-size: 48px;
	display: block;
	color: #ef4e8f;
}
#facts .counters p {
	padding: 0;
	margin: 0 0 20px 0;
	font-family: "Montserrat", sans-serif;
	font-size: 19px;
	color: #111;
	margin: 0px 0 65px 0;
	padding-top: 18px;
}
.section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #000!important;
	margin: 0 0 30px 0;
	position:relative;
}
.section-header h3 {
	font-size: 32px;
	color: #111;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	position: relative;
	padding-bottom: 15px;
	margin: 0 0 20px 0;
}
.section-header h3::before {
	content: '';
	position: absolute;
	display: block;
	width: 120px;
	height: 1px;
	background: #ddd;
	bottom: 1px;
	left: calc(50% - 60px);
}
.section-header h3::after {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 3px;
	background: #ef4e8f;
	bottom: 0;
	left: calc(50% - 20px);
}
#facts {
    background: url("../images/facts-bg.jpg") center top no-repeat fixed;
    background-size: auto auto;
    background-size: cover;
    padding: 60px 0 0 0;
    position: relative;
	overflow: hidden;
}
#facts::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);

}
.about_para{
	padding-top:20px;
}
.program_details{
	text-align:center;
}








/*---------------------------------------------*
 * marquee scollbar style start(31.03.2018)
 ---------------------------------------------*/

.mainnewsfeedarea {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.newfeedtopbird {
    width: 63px;
    height: 67px;
    margin-left: 15px;
}
.topnewsfeed_area {
	width: 100%;
	height: 126px;
	background: url(../assets/fontend/images/newsfeedbg.png) repeat-x;
	padding: 0 2%;
	font: 13px/68px 'DroidSansRegular',arial,sans-serif;
	text-align: left;
	color: #000;
	text-transform: uppercase;
	overflow: hidden;
}
.topnf_left {
	width: 135px;
	float: left;
	font: bold 20px/68px 'FederoRegular',arial,serif;
	color: #fff;
	text-align: left;
	text-transform: capitalize;
	background: url(../assets/fontend/images/newsfeed_hand.png)no-repeat right center;
}
.topnf_right {
	width: 900px;
	float: left;
	margin-left: 15px;
	font: 15px/22px 'FederoRegular',arial,serif;
	color: #0f0f0f;
	text-align: left;
	padding-top: 25px;
	text-transform: none !important;
}


/*---------------------------------------------*
 * marquee scollbar style end(31.03.2018)
 ---------------------------------------------*/

















.mainnewsfeedarea {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}
.newfeedtopbird {
    width: 63px;
    height: 67px;
    margin-left: 15px;
	margin-bottom: -8px;
}
.topnewsfeed_area {
	width: 100%;
	height: 126px;
	background: url(../images/newsfeedbg.png) repeat-x;
	padding: 0 2%;
	font: 13px/68px 'DroidSansRegular',arial,sans-serif;
	text-align: left;
	color: #000;
	text-transform: uppercase;
	overflow: hidden;
}
.topnf_left {
	width: 135px;
	float: left;
	font: bold 20px/68px 'FederoRegular',arial,serif;
	color: #fff;
	text-align: left;
	text-transform: capitalize;
	background: url(../images/newsfeed_hand.png)no-repeat right center;
}
.topnf_right {
	width: 900px;
	float: left;
	margin-left: 15px;
	font: 15px/22px 'FederoRegular',arial,serif;
	color: #0f0f0f;
	text-align: left;
	padding-top: 25px;
	text-transform: none !important;
}
